@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.animate-fadeInDown {
  animation: fadeInDown 1s ease-out forwards;
  opacity: 0;
  transform: translateY(-50px);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInsould {
  animation: fadeInsould 1s ease-out forwards;
  opacity: 0;
  transform: translateY(50px);
}
@keyframes fadeInsould {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-zoomIn {
  animation: zoomIn 1s ease-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.image-container {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wiggle {
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}
.btn-5 {
  position: relative;
}
.btn-5:hover .hoverbtn5 {
  display: block;
}
.wiggle-on-hover:hover {
  animation: wiggle 1.2s ease-in-out;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-image-2 {
  transition: transform 0.35s linear !important;
  top: 76px !important;
}
.item-image {
  position: absolute;
  transition: transform 0.3s linear;
}
.container:hover .item-image {
  transform: translateX(-20px);
  opacity: 1;
}
.imagehover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.container:hover .imagehover {
  display: block;
  opacity: 1;
}
.btn-on {
  position: absolute;
  bottom: 9.3rem;

  opacity: 1;
  left: 50%;
  width: 70%;
  height: 40px;

  transform: translate(-50%, -50%);
  transition: bottom 0.3s linear;
}

.container:hover .btn-on {
  bottom: 10.4rem;
  opacity: 1;
}
.active {
  color: red !important;
}

.slick-slide > div {
  padding: 0 10px;
}
.imagehover {
  display: none;
}

.slick-dots {
  bottom: -60px !important;
}

.slick-dots .slick-active button {
  bodder: 1px !important;
  boder-color: red !important;
  bodder-radius: 50% !important;
}
.slick-dots li {
  bodder: 1px !important;
  boder-color: red !important;
  bodder-radius: 50% !important;
}
.itemfooter svg {
  font-size: 29px;
}
.bg-red {
  background-color: #dc143c !important;
}
.bg-blue {
  background-color: #0000ff !important;
}
.btn-toggle {
  border: 3px solid #fff !important;
  box-shadow: 0 0 0 1px #1e3441;
  /* background-color: orange !important; */
}
.actives {
  background-color: red !important;
}
/* .slick-dots {
  margin-top: 0 auto;
}
.slick-dots li {
  display: block;
  background-color: red;
  z-index:999;
} */
/* .slick-active {
  display: inline-block;
  background-color: red;
  z-index:999;
} */
/* .menuhover {
  position: relative;
}
.dropmenu {
  top: 100%;
  border-top: 1px solid black;
  opacity: 0;
  left: 0;
  display: none;
}
.btn-menu:hover .dropmenu {
  display: block;
  opacity: 1;
} */
